* {
    box-sizing: border-box;
}
.body {
    background-color: #060505;
}
.main-body # {
    max-width: 100%;
    overflow: auto;
    margin: 0 auto;
    background-color: whitesmoke;
}
.headers {
    background-color: #041666;
    font-size: 700%;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    
}
.headers:hover{
    background-color: yellowgreen;
    color: #000000;
    text-transform: uppercase;
}
.headers h1 {
    font-size: 40px;
}
.main {
    float: left;
    width: 75%;
    margin-top: 1px;
    padding: 10px;
    background-color: #d7c0d2;
}
.menu {
    float: unset;
    width: 100%;
    text-decoration:solid;
    background-color: #FF9B33;
    text-align: center;
    margin-top: 1px;
}
.menu a {
    background-color: #FF9B33;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin: 1%;
    display: inline-table;
    text-decoration: dotted;
}
.menu a:hover {
    background-color: #ffffff;
    text-transform: uppercase;
}
.right {
    background-color: #b7ead4;
    float: left;
    width: 25%;
    margin-top: 1px;
    text-align: center;
    padding: 3%;
  }
  .footer {
    text-align: center;
    background-color: chartreuse;
    color: #ffffff;
    padding: 25px;
    margin: auto;
  }
  .table-border {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }